@model kutuphane24.Models.TblKategori

@{
    ViewData["Title"] = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>KategoriEkle</h1>

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KATEGORIAD" />

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Kategori Ekle</button>
    </div>
</form>

