@model kutuphane24.Models.TblUye

@{
    ViewData["Title"] = "UyeGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UyeGetir</h1>

<h4>TblUye</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UyeGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UyeId" />
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotograf" class="control-label"></label>
                <input asp-for="Fotograf" class="form-control" />
                <span asp-validation-for="Fotograf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Okul" class="control-label"></label>
                <input asp-for="Okul" class="form-control" />
                <span asp-validation-for="Okul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

