@model kutuphane24.Models.TblYazar

@{
    ViewData["Title"] = "YazarGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>YazarGetir</h1>

<h1>YazarGetir</h1>

@using (Html.BeginForm("YazarGuncelle", "TblYazars", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Yazar ID</label>
            @Html.TextBoxFor(y => y.YazarId, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar Adı</label>
            @Html.TextBoxFor(y => y.Ad, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar Soyadı</label>
            @Html.TextBoxFor(y => y.Soyad, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar Detay Bilgileri</label>
            @Html.TextAreaFor(y => y.Detay, new { @class = "form-control" })
        </div>
    </div>
    <button class="btn btn-warning">Yazar Bilgilerini Güncelle</button>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
